<h1>Criar Tipo Robo</h1>

<div>
    <div>
      <table>
        <tr>
          <th><label>Tarefas: </label></th>
          <th><input [(ngModel)]="tipoRobo.tarefas" /></th>
        </tr>
        <tr>
          <th><label>Designacao: </label></th>
          <th><input type="string" [(ngModel)]="tipoRobo.designacao" /></th>
        </tr>
        <tr>
          <th><label>Marca: </label>
          <th><input type="string" [(ngModel)]="tipoRobo.marca" />
        </tr>
      <tr>
        <th><label>Modelo: </label>
          <th><input type="string" [(ngModel)]="tipoRobo.modelo" />
      </tr>
      </table>
    </div>
    <div>
      <button class="buttonBack" (click)="goBack()">Back</button>
      <button (click)="createTipoRobo()">Add</button>
    </div>


</div>