<div class="background-container"></div>
<mat-toolbar>
  <h1 class="h1">RobDroneGO</h1>
</mat-toolbar>

<body>
  <div class="box">
    <div>
      <table>
        <tr>
          <mat-form-field>
            <mat-label>Piso Origem</mat-label>
            <mat-select [(ngModel)]="caminhoEntrePisos.origem">
              <mat-option *ngFor="let piso of pisos" [value]="piso">{{piso}}</mat-option>
            </mat-select>
          </mat-form-field>
        </tr>
        <tr>
          <th><label>Posição Origem [x,y]: </label></th>
          <th><input type="string" [(ngModel)]="caminhoEntrePisos.posicaoOrigem" /></th>
        </tr>
        <tr>
          <mat-form-field>
            <mat-label>Piso Destino</mat-label>
            <mat-select [(ngModel)]="caminhoEntrePisos.destino">
              <mat-option *ngFor="let piso of pisos" [value]="piso">{{piso}}</mat-option>
            </mat-select>
          </mat-form-field>
        </tr>
        <tr>
          <th><label>Posição Destino [x,y]: </label></th>
          <th><input type="string" [(ngModel)]="caminhoEntrePisos.posicaoDestino" /></th>
        </tr>
      </table>
    </div>
    <div>
      <button (click)="calcularCaminho()">Add</button>
      <button (click)="goBack()">Back</button>
    </div>
  </div>
</body>