<div class="background-container"></div>
<mat-toolbar>
    <h1 class="h1">RobDroneGO</h1>
</mat-toolbar>

<body>
    <div class="box">

        <div>
            <div class="search-container">
                <mat-form-field appearance="fill">
                    <label>Search by KeyWord</label> <input matInput placeholder="key word" autocomplete="off"
                        (keyup)="filterData($event)">
                </mat-form-field>
            </div>

            <br> <br>


            <table mat-table matSort [dataSource]="dataSource">
                <ng-container matColumnDef="Designacao">
                    <th mat-header-cell *matHeaderCellDef> Designacao</th>
                    <td mat-cell *matCellDef="let passagem"> {{passagem.designacao}} </td>
                </ng-container>

                <ng-container matColumnDef="EdificioA">
                    <th mat-header-cell *matHeaderCellDef> Edificio A</th>
                    <td mat-cell *matCellDef="let passagem"> {{passagem.edificioA}} </td>
                </ng-container>

                <ng-container matColumnDef="EdificioB">
                    <th mat-header-cell *matHeaderCellDef> Edificio B</th>
                    <td mat-cell *matCellDef="let passagem"> {{passagem.edificioB}} </td>
                </ng-container>

                <ng-container matColumnDef="PisoA">
                    <th mat-header-cell *matHeaderCellDef> Piso A</th>
                    <td mat-cell *matCellDef="let passagem"> {{passagem.pisoA}} </td>
                </ng-container>

                <ng-container matColumnDef="PisoB">
                    <th mat-header-cell *matHeaderCellDef> Piso B</th>
                    <td mat-cell *matCellDef="let passagem"> {{passagem.pisoB}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Page navigation"></mat-paginator>
            <button (click)="goBack()">Back</button>
        </div>
    </div>
</body>