<h1>RobDroneGO</h1>

<button (click)="openAdmin()"class="blue-button">Menu Admin</button>
<button (click)="openGestorCampus()" class="blue-button">Menu Gestor Campus</button>
<button (click)="openGestorFrota()"class="blue-button">Menu Gestor Frota</button>

<ng-container *ngIf="selectedMenu === 'admin'">
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</ng-container>

<ng-container *ngIf="selectedMenu === 'gestor-Campus'">
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</ng-container>

<ng-container *ngIf="selectedMenu === 'gestor-Frota'">
    <router-outlet></router-outlet>
    <app-messages></app-messages>


</ng-container>