<h1>RobDroneGO</h1>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RobDroneGO</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      line-height: 1.6;
      color: #333;
      background-color: #f5f5f5;
      position: relative;
    }

    h1, h2, h3 {
      color: #007BFF;
      border-bottom: 2px solid #007BFF;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }

    h5 {
      margin-bottom: 5px;
    }

    div {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 10px;
    }

    #scrollButton {
      position: fixed;
      bottom: 20px;
      right: 50%;
      transform: translateX(50%);
      padding: 10px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    #scrollButton.show {
      opacity: 1;
    }
  </style>
</head>


<body>

  <div>
    <h5>NO ÂMBITO DO PROJETO INTEGRADOR DO 1º SEMESTRE DO 3º ANO</h5>
    <h5>GABRIEL SILVA (1210808)</h5>
    <h5>RICARDO FREITAS (1210828)</h5>
    <h5>JOÃO RODRIGUES (1210817)</h5>
    <h5>MATEUS FERNANDES (1210821)</h5>
  </div>

  <h2>I. Introdução</h2>
  <div>Ao usar os serviços da RobDroneGO, você confia-nos os seus dados pessoais. E temos o compromisso de manter essa mesma confiança.
    Para isso, vamos explicar as nossa práticas de política de privacidade.
    Este aviso descreve os dados pessoais que recolhemos, como são tratados e compartilhados e as suas opções em relação a eles, bem como a sua respetiva finalidade de recolha e tratamento.
  </div>

  <h2>II. Recolha e utilização de dados</h2>
  <h3>A. Dados recolhidos</h3>
  <div>
    A RobDroneGO recolhe dados fornecidos pelos utilizadores, que incluem: <br>
    <li>
      Username
    </li>
    <li>
      Nome
    </li>
    <li>
      Número de Contribuinte
    </li>
    <li>
      Número de Telefone
    </li>
    <li>
      Email
    </li>
    <li>
      Registo de Imagem e voz
    </li>
    Esta recolha é realizada para os utilizadores poderem criar ou atualizar a sua conta para usufruir dos serviços da RobDroneGO.
  </div>
  
  <h3>B. Finalidade dos dados</h3>
  <div>
    A RobDroneGO utiliza os dados para conseguir disponibilizar serviços e otimizar o desempenho dos seus produtos. Também utilizamos dados: <br>
    <li>
      Para reforçar a segurança, monitorização e a proteção dos nossos utilizadores e serviços
    </li>
    <li>
      Para investigação e aprimoramento dos nossos serviços
    </li>
    <li>
      No âmbito de procedimentos legais
    </li>
    <li>
      Para otimizar o desempenho dos nossos produtos, e fornecer o melhor serviço possível
    </li>
    <li>
      Para criar/atualizar uma conta na RobDroneGO
    </li>
  </div>
  
  <h3>III. Tratamento dos Dados Pessoais</h3>
  <div>
    Os registos dos dados pessoais foram acordados numa primeira fase do tratamento dos dados, o que implica o seu consentimento sobre este mesmo. 
    O fundamento da licitude é um consentimento que é solicitado no âmbito do contrato, para os utilizadores do sistema RobDroneGO.
  
    O responsável pelo tratamento é a própria empresa RobDroneGO, com principal contacto RobDroneGO-geral&#64;robdrone.pt
  
  </div>
  
  <h3>IV. Retenção e Eliminação dos Dados</h3>
  <div>
    Os dados são retidos pela RobDroneGO durante o tempo que for necessário para os fins descritos acima, que varia dependendo do tipo de dados e do tipo de utilizador.
    
    Retemos dados:
    <li>
      Enquanto as contas dos utilizadores estiverem ativas, se esses dados forem necessários para fornecer os nossos serviços da RobDroneGO. Por exemplo, dados da conta do utilizador.
    </li>
    <li>
      Durante 30 dias, imagens e vídeos processados pelos nossos equipamentos dentro das instalações onde operamos.
    </li>
    Os utilizadores podem solicitar a eliminação da respetiva conta através dos menus de Privacidade na aplicação RobDroneGO, ou através do email da RobDroneGO (RobDroneGO-geral&#64;robdrone.pt)
  </div>
  

  <h3>V. Direitos do Titular dos Dados</h3>
  <div>
    1. Direito à Informação (Right to Information)
O titular dos dados tem o direito de ser informado sobre como os seus dados pessoais são recolhidos, processados e utilizados pela RobDroneGO. Este direito é essencial para garantir a transparência no tratamento de dados.

2. Direito de Acesso (Right of Access)
O titular dos dados tem o direito de aceder aos seus dados pessoais que são mantidos pela RobDroneGO. Isso inclui a possibilidade de solicitar informações sobre quais dados específicos estão a ser processados e como estão a ser utilizados.

3. Direito de Retificação (Right to Rectification)
Caso os dados pessoais estejam incorretos ou incompletos, o titular dos dados tem o direito de solicitar a retificação ou atualização desses dados.

4. Direito de Apagamento (Right to Erasure)
O titular dos dados pode solicitar a eliminação dos seus dados pessoais mantidos pela RobDroneGO. No entanto, existem limitações a este direito, e a empresa só pode reter os dados pelo tempo necessário para os fins descritos.

5. Direito à Portabilidade dos Dados (Right to Data Portability)
O titular dos dados tem o direito de receber os seus dados pessoais num formato estruturado, de uso comum e de leitura automática, e pode transmitir esses dados a outra entidade, se desejado.

6. Direito de Oposição (Right to Object)
O titular dos dados tem o direito de opor-se ao processamento dos seus dados pessoais em certas circunstâncias.

7. Direito de Limitação do Processamento (Right to Restriction of Processing)
O titular dos dados pode solicitar a restrição do processamento dos seus dados em determinadas situações. Isso significa que a RobDroneGO pode armazenar os dados, mas não os processar além do necessário.

8. Direito de Não Ser Sujeito a Decisões Automatizadas (Right Not to Be Subject to Automated Decision-Making)
O titular dos dados tem o direito de não ser sujeito a decisões baseadas unicamente no processamento automatizado, incluindo a criação de perfis, que tenham efeitos significativos sobre ele.

<br>

Contacto para Exercer os Direitos dos Titulares dos Dados
Para exercer qualquer um destes direitos, o titular dos dados pode entrar em contacto com a RobDroneGO através do contacto principal: RobDroneGO-geral&#64;robdrone.pt.

Estes direitos são essenciais para garantir a privacidade e proteção dos dados pessoais dos utilizadores da RobDroneGO.
  </div>

  <h2>Conclusão</h2>
  <div>Em resumo, destaca a importância do consentimento, responsabilidade e transparência
    na gestão de dados pessoais, reforçando o compromisso da empresa com a proteção da privacidade dos
    indivíduos e o cumprimento das regulamentações de proteção de dados, e a sua responsabilidade perante o
    incumprimento de qualquer pressuposto, bem como a sua devida correção.
  </div>

  <button id="scrollButton" onclick="scrollToTop()">Scroll to Top</button>

  <script>
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      var scrollButton = document.getElementById("scrollButton");
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        scrollButton.classList.add("show");
      } else {
        scrollButton.classList.remove("show");
      }
    }

    function scrollToTop() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
</body>