<h1>Editar Piso</h1>

<div>
  <div>
    <table>
      <tr>
        <th><label>Designacao: </label></th>
        <td><input type="text" [(ngModel)]="piso.designacao" /></td>
      </tr>
      <tr>
        <th><label>Descricao: </label></th>
        <td><input type="text" [(ngModel)]="piso.descricao" /></td>
      </tr>
      <tr>
        <th><label>Codigo Edificio: </label></th>
        <td><input type="text" [(ngModel)]="piso.edificio" /></td>
      </tr>
    </table>
  </div>
  <div>
    <button class="buttonBack" (click)="goBack()">Back</button>
    <button (click)="updatePiso()">Update</button>
  </div>
</div>
