<div class="background-container"></div>
<mat-toolbar>
    <h1 class="h1">RobDroneGO</h1>
</mat-toolbar>
<div class="about-us-section">
    <h2>About Us</h2>
    
    <!-- Team Member 1 -->
    <div class="team-member">
        <img src="assets/team_member1.jpg" alt="Team Member 1">
        <p>Mateus Fernandes</p>
    </div>

    <!-- Team Member 2 -->
    <div class="team-member">
        <img src="assets/joao.png" alt="Team Member 2">
        <p>João Rodrigues</p>
    </div>

    <!-- Team Member 3 -->
    <div class="team-member">
        <img src="assets/team_member3.jpg" alt="Team Member 3">
        <p>Ricardo Venâncio</p>
    </div>

    <!-- Team Member 4 -->
    <div class="team-member">
        <img src="assets/team_member4.jpg" alt="Team Member 4">
        <p>Gabriel Silva</p>
    </div>
</div>